{% extends "_base.html" %}

{% block title %}Bank Account Verification Reminder{% endblock %}

{% block header_title %}Verification reminder{% endblock %}
{% block header_subtitle %}<p>Your bank account verification is still pending</p>{% endblock %}

{% block badge %}<div class="badge badge-alert">VERIFICATION PENDING</div>{% endblock %}

{% block content %}
    <div class="info-box">
        <p><strong>Application #:</strong> {{ loan_id }}</p>
        <p><strong>Vendor:</strong> {{ vendor_name }}</p>
    </div>

    <p><strong>Reminder:</strong> we have not yet received your completed bank verification.</p>

    <div class="note note-alert">
        <p>The original bank account verification request was emailed on
            <strong>{{ verification_sent_date }}</strong>.</p>
        <p>Unless your bank account is verified, your loan application will be automatically rejected on
            <strong>{{ verification_expiry_date }}</strong>.</p>
    </div>

    <p>As part of the underwriting process for your loan request, and to ensure compliance with Canadian
        payments industry regulations, it is necessary to verify your bank account. Please sign in to your
        <a href="{{ dashboard_url }}">dashboard</a> to verify your bank account.</p>

    <a href="{{ dashboard_url }}" class="button">Verify my bank account</a>

    <div class="note">
        <p><strong><u>What the bank verification does NOT provide:</u></strong></p>
        <ul>
            <li>We do <strong>NOT</strong> receive your online banking login or password information</li>
            <li>We can<strong>NOT</strong> create or modify information or transactions</li>
        </ul>
        <p><strong><u>What the bank verification does provide:</u></strong></p>
        <ul>
            <li>Account owner(s) information (name, email, phone number, and address)</li>
            <li>Account information (institution name and number, account name, account type, and account and routing numbers)</li>
            <li>Account transaction information (amount, date, type, and description)</li>
            <li>Account balance information (current and available balance)</li>
            <li>Credit account(s) information (due dates and balance owed, payment amounts and dates, transaction history, and interest)</li>
            <li>Loan account(s) information (due dates, balances, payment amounts and dates, interest, loan type, payment plan, and term)</li>
        </ul>
        <p>To understand why and how we use this information, please see our
            <a href="{{ privacy_url }}">privacy policy</a>.</p>
    </div>
{% endblock %}
